<div class="container">
  <div class="wrap">
    <h1>
      My Todo List
    </h1>
    <div class="toolbar shadow">
      <mat-form-field style="min-width: 232px;">
        <mat-label>Search</mat-label>
        <input
          [(ngModel)]="search"
          matInput
          placeholder="Type to search the todos"
          (input)="filterTodos()"
        >
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field style="min-width: 232px;">
        <mat-label>Priority</mat-label>
        <mat-select
          [(value)]="selectedPriority"
          (selectionChange)="filterPriorityAndStatus()"
        >
          <mat-option
            *ngFor="let p of priorityFilter"
            [value]="p.value"
          >
            <span
              class="chip"
              [ngStyle]="{ background: p.color }"
            >{{ p.text }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="min-width: 232px;">
        <mat-label>Todos</mat-label>
        <mat-select
          [(value)]="selectedStatus"
          (selectionChange)="filterPriorityAndStatus()"
        >
          <mat-option
            *ngFor="let s of status"
            [value]="s.value"
          >
            {{ s.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        (click)="toggleCreateOrEditTodo()"
      >
        New todo
      </button>
    </div>
    <div
      *ngIf="newTodo"
      class="card shadow"
      style="cursor: auto;"
    >
      <h2 style="margin-bottom: 0;">
        {{ todoItem.id ? 'Editing To-do' : 'Creating new To-do' }}
        <mat-icon
          *ngIf="todoItem.id"
          style="color: red; cursor: pointer;"
          (click)="deleteTodo()"
        >
          delete
        </mat-icon>
      </h2>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          [(ngModel)]="todoItem.name"
          matInput
          placeholder="Insert the name of the todo"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          [(ngModel)]="todoItem.description"
          matInput
          placeholder="Insert the description of the todo"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select [(value)]="todoItem.priority">
          <mat-option
            *ngFor="let p of priority"
            [value]="p.value"
          >
            <span
              class="chip"
              [ngStyle]="{ background: p.color }"
            >{{ p.text }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        (click)="createOrEditTodo()"
      >
        {{ todoItem.id ? 'Edit' : 'Create' }}
      </button>
      <button
        mat-button
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
    <div
      *ngIf="filteredTodos.length; else searchContainer"
      class="itens"
    >
      <div
        class="card shadow"
        *ngFor="let todo of filteredTodos"
        (click)="toggleCreateOrEditTodo(todo)"
      >
        <div class="card-title">
          <div class="card-title-left">
            <mat-checkbox
              [(ngModel)]="todo.status"
              color="primary"
              (input)="changeStatus(todo)"
            ></mat-checkbox>
            {{todo.name}}
          </div>

          <span
            class="chip"
            [ngStyle]="{ background: priorityColors(todo.priority) }"
          >
            {{ todo.priority }}
          </span>
        </div>
        <div class="card-content">
          {{ todo.description }}
        </div>
        <div
          *ngIf="todo.due"
          class="card-due"
        >
          <mat-icon>
            calendar_month
          </mat-icon>
          {{ todo.dueFormat}}
        </div>
      </div>
    </div>
    <ng-template #searchContainer>
      No results for your search
    </ng-template>
  </div>
</div>


<router-outlet></router-outlet>